@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
  --color-primary: #EC4899;
  --color-primary-100: #FCE7F3;
  --color-dark: #1F2937;
  --color-muted: #E5E7EB;
}

html, body, #__next {
  height: 100%;
}

body{
  @apply bg-white text-brand-dark antialiased;
  font-family: Inter, ui-sans-serif, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial;
}

.container{
  @apply max-w-6xl mx-auto px-4;
}
